@import '../global.css';
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
    color: var(--color-letra);
    background-color: rgba(0, 0, 0, 0.5);
    margin: -30px 0;
}

.home h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: var(--color-dorado);
    
}
.home p{
    font-style: italic;
}
.home button {
    background-color: var(--color-dorado); 
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2s ;
  }
.home button:hover{
    font-weight: bold;
    color: var(--color-dorado);
    background: none;
    border: solid var(--color-dorado);
}
