@import '../global.css';
.detail-container{
    width: 70%;
    margin: auto;
}
.detail-container .entrada{
    background-color: var(--color-secundario);
}
.detail-container h2{
    color: var(--color-dorado);
    background-color: var(--color-primario);
    padding: 25px 0px;
}
.detail-container img{
    border-radius: 25px;
    max-width: 400px;
}
.detail-container .resumen{
    padding: 20px 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-justify: distribute-all-lines;
}
.resumen{
    text-align: justify;
}
.detail-container .nivel{
    background-color: var(--color-dorado);
    padding: 15px 0px;
}
.contenDiet {
    background-color: var(--color-primario);
    padding: 15px 0px;
    
    color: var(--color-letra);
}
.contenDiet ul{
    padding: 0px;
    margin: 0;
    list-style: none;
}
.contenDiet ul li{
    padding: 7px 0px;
    text-transform: capitalize;
}
.contenDiet ul li:hover{
    font-weight: bold;
    color: var(--color-letra);
    background-color: var(--color-dorado);
}
.contenPasos{
    padding: 0;
    margin: 0;
}
.contenPasos h3{
    background-color: var(--color-secundario);
    text-align: center;
    font-weight: bold;
    color: var(--color-letra);
    padding: 20px 0px;
    margin: 0;
}
.pasos {
    padding: 25px 15%;
    text-align: left;
    font-size: 17px;
    color: black;
    background-color: var(--color-dorado);
    font-family: 'Times New Roman', Times, serif;

}
.pasos:hover{
    color: var(--color-letra);
    background-color: var(--color-primario);
    font-weight: bold;
    
}

.bold{
    font-weight: bold;
}

